@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

body {
	min-height: 100vh;
	background-position: center;
	background-image: url("../assets/home/background-home-mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s;
}

h1,
h2,
h3,
h4 {
	font-family: "Bellefair";
}

h1 {
	font-size: 9.375rem;
}
h2 {
	font-size: 6.25rem;
}
h3 {
	font-size: 3.5rem;
}
h4 {
	font-size: 2rem;
}
h5 {
	font-family: "Barlow Condensed", sans-serif;
	letter-spacing: 4.75;
	font-size: 1.75rem;
}

@media screen and (min-width: 425px) {
	body {
		background-image: url("../assets/home/background-home-tablet.jpg");
	}
}
@media screen and (min-width: 768px) {
	body {
		background-image: url("../assets/home/background-home-desktop.jpg");
	}
}
